@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

html {
    
}
/* FONTS */
font-face {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
   
    font-size: 16;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    
}

.maingrid h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 16;
    font-weight: 600;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 20;
    font-weight: 600;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 14;
    font-weight: 100;
}


/* HEADER, BODY, FOOTER*/
body {
    margin:0;
    padding:0;
    height:auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1090px;
    min-width: 920px;
}





.body {
    padding:10px;
    padding-bottom:10px;
}

/*HOME PAGE*/
.maingrid{
    width: 100%;
    padding-left: 2;
    padding-bottom: 80%;
}

.maingrid a {
    float: left;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    text-decoration: none;
    color: white;
    padding-bottom: 2%;
    outline: none;
    
    
}


.maingrid a:hover {
    float: left;
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    color: black;
}

.intro {
    padding-top: 7%;
    padding-bottom: 5%;
}

.activelink {
    color: #ddb5b5;
}


/*ABOUT PAGE */


.aboutcontainer{
    width: 100%;
    height: auto;
    
}



.bio{
    width: 60%%;
    padding-bottom: 1.5%;
    
}

.picofme {
    border-radius:50%;
}



.aboutcontainer h1{
    text-align: center;
}



/*WINDSTANTLY*/

.windstantly{
    max-width: 800px;
    padding-top: 30px;
    width: 100%
}

/*BRANDBOOK*/
.brandbook{
    width: 100%;
    
}

.branddescription p {
    padding-bottom: 20;
}

/* NAVBAR */

.container {
    width: 100%;
}

.logo {
    float: left;
    padding: 30px 0px 30px 0px;
}


.topnav {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 47;
}

.topnav a {
    display: inline;
    color: #333136;
    text-decoration: none;
    padding: 10px 0px 10px 60px;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.topnav a:hover {
    color: #ddb5b5;
}

.topnav a:active {
    color: #ddb5b5;
}


/*PHOTOGRAPHY*/

.photobook{
    width: 100%;
    padding-top: 47;
   
   
}

.photobookimg{
    position: static;
}

/*
.serenitymain {
    position: relative;
    color: white;
    float: left;
    width: 540px;
    overflow: hidden;
}

.serenitymain img{
    width:inherit;
}

.mellowmain {
    position: relative;
    color: white;
    padding-top: 10px;
    width: 540px;
    float: left;
    
}

.mellowmain img{
    width: inherit;
    margin-top: -10;
    margin-left: 10;
}

.darkmain {
    position: relative;
    color: white;
    padding-top: 10px;
    width: 540px;
    float: left;
}

.darkmain img{
    width: inherit;
}

.chaosmain{
    position: relative;
    color: white;
    padding-top: 10px;
    width: 540px;
    float: left; 
}

.chaosmain img{
    width: inherit;
    margin-left: 10;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 30px;
    font-size: 16;
    
*/
}

.photobook a {
    float: left;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    text-decoration: none;
    
    
    
}

.photobook a:hover {
    float: left;
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*
.serenity {
    padding-bottom: 60px;
    width: 100%;
}

.serenity span{
    padding: 10 20 10 10;
}

.serenity button {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 7 7 5 7;
    background: #F1DFDD;
    border: none;
    font-size: 14;
    position: absolute;
    margin-top: 600;
    margin-left: -28;
}
*/


/*ISA PORTFOLIO*/

.isaport {
  position: relative;
    float: left;
  width: 30%;
    padding: 1.4%;
    
}

.isaport p{
    font-size: 15;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.portimage {
    padding-bottom: 65%;
}

.portimage1{
    padding-bottom: 45%;
    
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.isaport:hover .overlay {
  opacity: .95;
}

.text {
  color: black;
  font-family:'Josefin Sans', sans-serif; 
  font-size: 19px;
  position: absolute;
  top: 24%;
  left: 17%;
  transform: translate(-11%, -24%);
  -ms-transform: translate(-50%, -50%);
}

/*FOOTER*/
footer {
    padding-top: 7%;
}


.footericons {
    float: right;
    margin-top: -41;
    padding-bottom: 30px;
    
}

.footericons a {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.footericons a:hover {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

